<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="NASA" href="/tabs/NASA">
      <ion-icon name="planet-outline"></ion-icon>
      <ion-label>NASA</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search" href="/tabs/search">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="MarsRover" href="/tabs/MarsRover">
      <ion-icon name="rocket-outline"></ion-icon>
      <ion-label>Mars Rover</ion-label>
    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>
